In [1]:
import pandas as pd

## Pandas Series

In [2]:
P = pd.Series([10,20,30],['Tom','Dick','Harry'])

In [3]:
P

Tom      10
Dick     20
Harry    30
dtype: int64

In [4]:
P['Tom']

10

In [5]:
P[[1,2]]

Dick     20
Harry    30
dtype: int64

In [6]:
P.index

Index(['Tom', 'Dick', 'Harry'], dtype='object')

In [7]:
P*2

Tom      20
Dick     40
Harry    60
dtype: int64

In [8]:
P**2

Tom      100
Dick     400
Harry    900
dtype: int64

## Pandas Data Frame

In [14]:
d = {'one': pd.Series([100.,200.,300.], index=['apple','orange','banana']),
     'two': pd.Series([111.,222.,333.,444.], index=['apple','kiwi','grapes','banana'])}

In [15]:
df = pd.DataFrame(d)
df

          one    two
apple   100.0  111.0
banana  300.0  444.0
grapes    NaN  333.0
kiwi      NaN  222.0
orange  200.0    NaN

In [16]:
df.index

Index(['apple', 'banana', 'grapes', 'kiwi', 'orange'], dtype='object')

In [18]:
df.columns

Index(['one', 'two'], dtype='object')

In [20]:
pd.DataFrame(d, index=['apple','orange'], columns=['one','five'])

          one five
apple   100.0  NaN
orange  200.0  NaN

## Creating DataFrame from Pyhton dictionary

In [21]:
data = [{'red':10, 'blue':30},{'yellow':40, 'green':20, 'black':50}]

In [22]:
pd.DataFrame(data)

    red  blue  yellow  green  black
0  10.0  30.0     NaN    NaN    NaN
1   NaN   NaN    40.0   20.0   50.0

In [25]:
pd.DataFrame(data, index=['tom','harry'])

        red  blue  yellow  green  black
tom    10.0  30.0     NaN    NaN    NaN
harry   NaN   NaN    40.0   20.0   50.0

In [26]:
df

          one    two
apple   100.0  111.0
banana  300.0  444.0
grapes    NaN  333.0
kiwi      NaN  222.0
orange  200.0    NaN

In [28]:
df['one']

apple     100.0
banana    300.0
grapes      NaN
kiwi        NaN
orange    200.0
Name: one, dtype: float64

In [42]:
df['three'] = df['one'] * df['two']

In [43]:
df

          one    two     three
apple   100.0  111.0   11100.0
banana  300.0  444.0  133200.0
grapes    NaN  333.0       NaN
kiwi      NaN  222.0       NaN
orange  200.0    NaN       NaN

In [44]:
type(df['three'])

pandas.core.series.Series

In [45]:
three = df.pop('three')
print(type(three))
three

<class 'pandas.core.series.Series'>

apple      11100.0
banana    133200.0
grapes         NaN
kiwi           NaN
orange         NaN
Name: three, dtype: float64

In [50]:
df.insert(1, 'copy_of_two', df['two'])
df

          one  copy_of_two    two  copy_of_one
apple   100.0        111.0  111.0        100.0
banana  300.0        444.0  444.0        300.0
grapes    NaN        333.0  333.0          NaN
kiwi      NaN        222.0  222.0          NaN
orange  200.0          NaN    NaN        200.0

In [51]:
df['upper_two'] = df['one'][:2]
df

          one  copy_of_two    two  copy_of_one  upper_two
apple   100.0        111.0  111.0        100.0      100.0
banana  300.0        444.0  444.0        300.0      300.0
grapes    NaN        333.0  333.0          NaN        NaN
kiwi      NaN        222.0  222.0          NaN        NaN
orange  200.0          NaN    NaN        200.0        NaN

## GroupBy Aggregate

In [10]:
import pandas as pd

data = {'one': pd.Series(data=[10,30,50,70,90],index=['a','b','a','a','b']),
        'two': pd.Series(data=[20,40,60,80],index=['c','b','c','a'])}

In [11]:
DF = pd.DataFrame(data)
DF

ValueError: cannot reindex from a duplicate axis

In [9]:
group1 = DF['one','two'].groupby('one').count()

KeyError: ('one', 'two')